<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pantalla Principal</title>
    <link rel="stylesheet" href="resources/css/main.css" />
  </head>
  <body>
    <div class="main-box">
      <h1>Menú Principal</h1>
      <div class="options">
        <a href="/facturacion" class="option-button">Facturación</a>
        <a href="/inventario" class="option-button">Inventario</a>
        <a href="/producto" class="option-button">Producto</a>
        <a href="/faltantes" class="option-button">Detalle Faltantes</a>
      </div>
    </div>
  </body>
</html>
