<!DOCTYPE html>
<html>
<head>
    <title>Agregar Cliente</title>
    <link rel="stylesheet" href="/css/clienteform.css">

</head>
<body>
    <h1>Agregar Nuevo Cliente</h1>
    <form action="/clientes" method="POST">
        <label>Nombre: <input type="text" name="nombre" required></label><br>
        <label>Apellido: <input type="text" name="apellido" required></label><br>
        <label>Cédula: <input type="text" name="cedula" required></label><br>
        <label>Teléfono: <input type="text" name="telefono" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Ciudad: <input type="number" name="id_ciudad" required></label><br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
